html {
  text-align: center;
  font-family: "Helvetica";
}

.header {
  color: White;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.btn-nav {
  color: White;
  font-size: 18px;
}

#process h4 {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: White;
  background-size: cover;
}

.footer {
  color: White;
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}

/*.footer .btn-nav {
  color: White;
  font-size: 18px;
}*/
